<ul>
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Model Binding", "Index", "ModelBinding")
    </li>
    <li>
        @Html.ActionLink("Reference", "Index", "Reference")
    </li>
</ul>
